- var pageName = 'Home';
- var bodyClass = 'home';

include ../layout/head
include ../layout/header

p.
  Whoops! I can't get hold of the page you seem to be looking for.
  Maybe you have a typo in the URL?
p.home-link
  a(href="/home", target="_blank") Take me to the home page!

include ../layout/footer