// Core variables and mixins
@import "../../node_modules/bootstrap/less/variables.less";
@import "../../node_modules/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../../node_modules/bootstrap/less/normalize.less";
@import "../../node_modules/bootstrap/less/print.less";
@import "../../node_modules/bootstrap/less/glyphicons.less";

// Core CSS
@import "../../node_modules/bootstrap/less/scaffolding.less";
@import "../../node_modules/bootstrap/less/type.less";
@import "../../node_modules/bootstrap/less/code.less";
@import "../../node_modules/bootstrap/less/grid.less";
@import "../../node_modules/bootstrap/less/tables.less";
@import "../../node_modules/bootstrap/less/forms.less";
@import "../../node_modules/bootstrap/less/buttons.less";

// Components
@import "../../node_modules/bootstrap/less/jumbotron.less";

// Typography
@import url(http://fonts.googleapis.com/css?family=Anton|Oxygen);
@font-family-base: 'Oxygen', Helvetica, serif;
@headings-font-family: 'Anton', Helvetica, sans-serif;


@v-rhythm: 1rem;
@brand-black: #000;
@brand-gray: #2e332f;
@brand-yellow: #fecb00;
@brand-blue: #004358;

body {
  // background-color: #fdfdfd;
  color: @brand-gray;
}

.v-space(@margin, @padding) {
  margin-bottom: @v-rhythm * @margin;
  padding-bottom: @v-rhythm * @padding;
}

.title {
  .jumbotron;
  background-color: @brand-black;
  color: @brand-yellow;
  text-align: center;
  h1 {
    font-size: 4rem;
  }
}

img {
  .img-responsive;
}

main {
  .clearfix;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 5%;
}

.section {
  .make-xs-column(12);
  .clearfix;
  .v-space(1, 2);
  h2 { .v-space(1,2); }
}

.project {
  .make-xs-column(12);
  .make-sm-column(4);
  .v-space(2,4);
  transition: all 0.5s ease;
  .project-info {
    .make-xs-column(6);
    .make-sm-column(12);
    color: lighten(@brand-blue, 10%);
  }
  img {
    .make-xs-column(6);
    .make-sm-column(12);
    .img-thumbnail;
  }
  &:hover, &:visited {
    transform: scale(1.1);
    color: @brand-blue;
  }
}

footer {
  clear: both;
  margin: 0;
  padding: 1rem;
  background-color: @brand-black;
  color: @brand-yellow;
  text-align: right;
}
