// Core variables and mixins
@import "../../node_modules/bootstrap/less/variables.less";
@import "../../node_modules/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../../node_modules/bootstrap/less/normalize.less";

// Core CSS
@import "../../node_modules/bootstrap/less/scaffolding.less";
@import "../../node_modules/bootstrap/less/type.less";
@import "../../node_modules/bootstrap/less/grid.less";

// Components
@import "../../node_modules/bootstrap/less/jumbotron.less";

// Typography
@import url(http://fonts.googleapis.com/css?family=Anton|Oxygen);
@font-family-base: 'Oxygen', Helvetica, serif;
@headings-font-family: 'Anton', Helvetica, sans-serif;


@v-rhythm: 1rem;
@footer-height: 5rem;
@brand-black: #000;
@brand-gray: #2e332f;
@brand-yellow: #fecb00;
@brand-blue: #004358;

html {
  position: relative;
  min-height: 100%;
}

body {
  .clearfix;
  color: @brand-gray;
  padding-bottom: 4rem;
  margin-bottom: @footer-height;
}

.v-space(@margin, @padding) {
  margin-bottom: @v-rhythm * @margin;
  padding-bottom: @v-rhythm * @padding;
}

.title {
  .jumbotron;
  background-color: @brand-black;
  color: @brand-yellow;
  text-align: center;
  h1 {
    font-size: 4rem;
  }
}

img {
  .img-responsive;
}

.inline-image {
  float: right;
  width: 30%;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

a.text-link {
  text-decoration: underline;
  color: @brand-blue;
}

i {
  padding-right: 0.5rem;
}

nav {
  .make-xs-column(12);
  background-color: @brand-black;
  color: @brand-yellow;
}

main {
  .clearfix;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 5%;
}

.section {
  .make-xs-column(12);
  .clearfix;
  .v-space(1, 2);
  h2 { .v-space(1,2); }
}

.project {
  .make-xs-column(12);
  .make-sm-column(4);
  .v-space(2,4);
  transition: all 0.5s ease;
  .project-info {
    .make-xs-column(6);
    .make-sm-column(12);
    color: lighten(@brand-blue, 10%);
  }
  img {
    .make-xs-column(6);
    .make-sm-column(12);
    .img-thumbnail;
  }
  &:hover, &:visited {
    transform: scale(1.1);
    color: @brand-blue;
  }
}

.project-header {
  .clearfix;
  .make-xs-column(12);
  .v-space(3,3);
  padding-top: 3rem;
  background-color: @brand-yellow;
  background-image: url("/img/fabric-tile-2.png");
  background-repeat: repeat;
  .text-center;
  img {
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    display: inline-block;
    vertical-align: middle;
  }
  .heading-container {
    padding-left: 3rem;
    display: inline-block;
    height: 15rem;
    vertical-align: middle;
    .text-left;
    .link-block {
      .link {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        -moz-box-shadow: 2px 2px 1px 1px fade(@brand-gray, 60%);
        -webkit-box-shadow: 2px 2px 1px 1px fade(@brand-gray, 60%);
        box-shadow: 2px 2px 1px 1px fade(@brand-gray, 60%);
        background-color: @brand-gray;
        color: @brand-yellow;
      }
    }
  }
}

footer {
  background-color: @brand-black;
  color: @brand-yellow;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 1rem;
  height: @footer-height;
  .text-right;
}
