include layouts/head
body(style="background-image: url('img/404.jpg')")
  include layouts/navbar
  header.title
    h1 404 Error
    br
    br
    h4 I can't find the page you're looking for!
    br
    br
    a.link-btn(href="/") Back to home
  include layouts/footer
