include layouts/head
body
  include layouts/navbar
  +project-header(title, thumbnail, caption, links)
  main
    section
      p.
        A complex web app, built for scale using NodeJS, ReactJS and PostgreSQL.
        I designed the product and architected the system end to end, also writing many core
        parts of the code. Leading a team of 6 engineers/designers in building the product.
        We've already clocked in over 6000 commits. Launched to select paying customers
        this year with plans for a full public release early next year.
        The system is already in use by hundreds of users, spread across 12 countries
      p.
        Since it was built in a private repo, here's a screenshot of our commit history.
      img(src="/img/bodhiGitGraph.png")
      p.
        The project has been an incredible learning experience.
        I started out with a team of 4 windows application developers, introduced them to web development,
        taught them Javascript and NodeJS, moved them to the world of open source software,
        text-editors instead of IDEs, distributed version control - it was a complete paradigm shift for the team.
        In the process, I also hired and built out Softrade's design team.
        
  footer
    p Developed by @sanjaypojo
