include layouts/head
body
  header.title
    h1 DiscoverSelf
    h3 Helping large organisations build better teams
  main
    section
      p.
        A complex web app, built for scale using NodeJS, ReactJS and PostgreSQL.
        I designed the product and architected the system end to end, also writing many core
        parts of the code. Leading a team of 6 engineers/designers in building the product.
        We've already clocked in over 6000 commits. Launched to select paying customers
        this year with plans for a full public release early next year.
        The system is already in use by hundreds of users, spread across 12 countries
  footer
    p Developed by @sanjaypojo
