include layouts/head
body
  header.title
    h1 Sanjay Guruprasad
  main
    +section("Projects")
      for project in projects
        +project(project.title, project.thumbnail,
          project.caption, project.link, project.detailPage)
    +section("Work")
      for company in work
        +project(company.title, company.thumbnail,
          company.caption, company.link, company.detailPage)
  include layouts/footer
