doctype
html
  head
    title Hello
    link(href="css/style.css", rel="stylesheet", type="text/css")
  body
    header.title
      h1 Sanjay Guruprasad
    section.section#projects
      h2.section-title Projects
      .project
        a(href="http://thoughtarium.com")
          img(src='img/thoughtarium.png')
          .project-info
            h3 Thoughtarium
            p My blog written on a homegrown blogging engine using NodeJS
      .project
        a(href="http://nocturnedevs.com")
          img(src='img/nocturne.png')
          .project-info
            h3 Nocturne
            p Open source projects with my best friend, Hari Mohanraj
      .project
        a(href="http://twidd.ly")
          img(src='img/twiddly.png')
          .project-info
            h3 Twiddly
            p Bringing the best content on the web to your android lockscreen!
      .project
        a(href="http://softrade.in")
          img(src='img/softrade.png')
          .project-info
            h3 Softrade
            p Customized software projects at my parent's company
    section.section#timeline
      h2.section-title Timeline
      p.section-intro Coming soon...
      svg.timeline
    footer
      p Designed and developed by @sanjaypojo
    script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
    script(src='js/timeline.js', type='text/javascript')
