doctype
html
  head
    title Hello
    link(href="css/style.css", rel="stylesheet", type="text/css")
  body
    header.title
      h1 Sanjay Guruprasad
    section.section#projects
      h2.section-title Projects
      .project
        a(href="http://thoughtarium.com")
          img(src='img/thoughtarium.png')
          .project-info
            h3 Thoughtarium
            p My blog written on a homegrown blogging engine using NodeJS
      .project
        a(href="http://beta.sunnysideup.co.in")
          img(src='img/sunnySideUp.png')
          .project-info
            h3 Sunny Side Up
            p A store for quirky products. Under construction!
      .project
        a(href="http://twidd.ly")
          img(src='img/twiddly.png')
          .project-info
            h3 Twiddly
            p Bringing the best content on the web to your android lockscreen!
      .project
        a(href="https://atom.io/packages/Watchmenesque-Dark")
          img(src='img/watchmenesque.png')
          .project-info
            h3 Watchmenesque
            p A syntax theme I created for the atom text editor. Crawling towards 200 downloads
      .project
        a(href="http://todo.sanjaypojo.com")
          img(src='img/reactDo.png')
          .project-info
            h3 React.Do
            p A basic todo app to try out ReactJS. It uses localStorage so your todos are saved in your browser.
      .project
        a(href="http://nocturnedevs.com")
          img(src='img/nocturne.png')
          .project-info
            h3 Nocturne
            p Open source projects with my best friend, Hari Mohanraj
      .project
        a(href="http://softrade.in")
          img(src='img/softrade.png')
          .project-info
            h3 Softrade
            p Customized software projects at my parent's company
      .project
        a(href="http://sanjaypojo.github.io/revolutions/")
          img(src='img/revolutions.gif')
          .project-info
            h3 Revolutions
            p A code doodle to visualize our solar system
    section.section#timeline
      h2.section-title Timeline
      p.section-intro Coming soon...
      svg.timeline
    footer
      p Designed and developed by @sanjaypojo
    script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
    script(src='js/timeline.js', type='text/javascript')
