doctype
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    title Sanjay | Home
    link(href="/css/style.css", rel="stylesheet", type="text/css")
    link(rel="shortcut icon" href="/img/mezzanine.ico")
    include mixins
