doctype html
html
  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Sanjay | #{pageName}
    meta(name="description", content="A website dedicated to the life and learnings of a Mr. Sanjay Guruprasad from Bangalore, India")
    link(rel="stylesheet", type="text/css", href="style.css")
  body(class="#{pageClass}")